.in-game-top-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #121212;
  display: flex;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 1000;
}

.exit-btn {
  background-color: #633CFF;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}