.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 16px;
  z-index: 1000;
}

.logo-img {
  height: 30px;
  object-fit: contain;
}

.top-banner-actions {
  display: flex;
  gap: 12px;
  align-items: center;
  transform: translateY(2px);
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.icon-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
