.game-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 40px);
  margin-top: 40px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.game-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f7f6f3;
}

.game-iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: none;
}
