body {
  margin: 0;
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}